body {
    font-family: Arial, sans-serif;
    background: #0a0a0a;
    color: white;
    margin: 0;
}

/* HEADER */
header {
    background: #111;
    color: #ff003c;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #ff003c;
}

/* NAV */
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff003c;
}

/* TARJETAS BOOTSTRAP */
.card {
    background: #1a1a1a !important;
    border-radius: 10px;
    box-shadow: 0 0 15px #ff003c;
    border: none;
}

/* IMAGEN */
img {
    border-radius: 50%;
    border: 3px solid #ff003c;
}

/* TITULOS */
h2, h3 {
    color: #ff003c;
}

/* LISTAS BOOTSTRAP */
.list-group-item {
    background: transparent !important;
    color: white !important;
    border: none;
}

/* BOTONES */
button, .btn {
    background: #ff003c !important;
    color: white !important;
    border: none !important;
    border-radius: 5px;
}

button:hover, .btn:hover {
    background: #cc002f !important;
}

/* INPUTS */
input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

/* LINEAS */
hr {
    border: none;
    height: 2px;
    background: #ff003c;
    margin: 20px 0;
}

/* EFECTO HOVER TARJETA */
.card:hover {
    transform: scale(1.01);
    transition: 0.3s;
}
