body {
    font-family: Arial, sans-serif;
    background: #0a0a0a;
    color: white;
    margin: 0;
}

/* HEADER */
header {
    background: #111;
    color: #ff003c;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #ff003c;
}

/* MENU */
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff003c;
}

/* CONTENEDOR GENERAL */
.container {
    width: 80%;
    margin: auto;
}

/* SECCIONES SEPARADAS */
.section {
    background: #1a1a1a;
    margin: 25px 0;
    padding: 20px;
    border-left: 5px solid #ff003c;
    border-radius: 10px;
}

/* TITULOS */
h2, h3 {
    color: #ff003c;
}

/* IMAGEN */
img {
    border-radius: 50%;
    border: 3px solid #ff003c;
}

/* LISTAS */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
}

/* FORMULARIO */
input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

button {
    background: #ff003c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #cc002f;
}
